/* Set body styles so that the page is centred and only a certain width: */
body {
  max-width: 1000px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Set firm margins at a smaller screen size: */
@media screen and (max-width: 950px) {
  body {
    margin: 30px;
  }
}